<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beneficiarios</title>
    <%- include('pages/head.ejs') %>
    
</head>
<body>
    <!-- Encabezado -->
    <%- include('pages/header.ejs') %>
    <!-- cuerpo de la página -->
    <div id="app" class="w3-container w3-row w3-padding">
        <div id="div_form" class="w3-card w3-col l4 w3-padding-16">
            <%- include('pages/beneficiarios.ejs') %>
        </div>
    </div>
    <%- include('pages/footer.ejs') %>
</body>
<%- include('includes/scriptsMenu') %>
</html>