<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calculo jubilación</title>
    <%- include('pages/head.ejs') %>
</head>
<body>
    <!-- Encabezado -->
    <%- include('pages/header.ejs') %>
    <!-- cuerpo de la página -->
    <div id="app" class="w3-container w3-row w3-padding">
        <div id="div_form" class="w3-card w3-col l4 w3-padding-16">
            <%- include('pages/altaEmpleado.ejs') %>
        </div>
        <div id="div_calculos" class="w3-card w3-col l8 w3-padding-16">
            <%- include('pages/tablaCalculos.ejs') %>
        </div>
    </div>
</body>
<%- include('includes/scripts') %>
</html>